{% block content %}
{% load bootstrap4 %}
{% load socialaccount %}

<form method="POST" class="form-group">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <button class = "btn btn-outline-info">
        <a href="{% provider_login_url 'google' %}">
            <i class="fab fa-google"></i>
            Sign up with Google
        </a>
        
    </button>
</form>

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

{% endblock %}
